/elpa/
/eshell/
/backup/
/auto-save/
/auto-save-list/
/image-dired/
/places/

/irony

/ac-comphist.dat
/ede-projects.el

# emacs temporary files
*/\#*\#
*/.\#*

/framegeometry
/lisp/loaddef.el
/projectile-bookmarks.eld
/custom.el
/octave-workspace
